@keyframes side_in{
    0%   {margin-left: 100%;}
    20%  {margin-left: 80%;}
    40%  {margin-left: 60%;}
    80%  {margin-left: 20%;}
    100% {margin-left: 0;}
}
.monitor{
    animation:side_in .3s;
    background-color:#fff;
    height:110%;
    overflow: hidden;
    .table{
        height: 100%;
        width:96%;
        overflow: hidden;
        margin: auto;
        .table_header{
            background-color: #FAFAFA;
            height: 3rem;
        }
        .table_header,.table_body{
            overflow: hidden;
            width: 100%;
            padding-left: 2rem;
            border-bottom:1px solid #E8E8E8;
            display: flex;
            align-items: center;
            li{
                float: left;
                width: 15%;
                line-height: 4rem;
                padding-right: 1rem;
                span{
                    line-height: 2rem;
                    display: block;
                    color:#595959;
                }
            }
        }
    }
}